/* styles the cards block under the techniques block */

.cards {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap; /* enables its children can wrap to the next line */
}
