/* styles the cards block under the techniques block */

.cards {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* enables its children can wrap to the next line */
  list-style-type: none;
  padding: 0;
}
