.video__iframe {
  width: 516px; /* specifies the width of the video */
  height: 316px; /* specifies the height of the video */
}

.video__iframe:nth-of-type(1) {
  margin-right: 20px; /* creates a spacing bewteen the videos*/
}
