.cards__title {
  margin: 43px 0 0; /* gives the title a top margin and sets the rest to zero*/
  text-align: center; /* centers the title*/
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
