.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
  width: 660px;
  height: 636px;
  background-size: contain;
  background-position: center;
  z-index: -1;
  animation: rotation 20s linear 0s infinite normal;
}
