.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}
.logo {
  height: 31px;
  width: 154px;
  background-size: cover;
  background-position: center;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url("../images/logo_place_header.png");
}
.header__title {
  position: relative;
  margin-left: 64px;
  width: 730px;
  z-index: 3;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.header__square-pic {
  position: absolute;
  z-index: 1;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
}
.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
}
.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:nth-child(2) {
  margin: 30px auto;
}
.two-columns__span-accent {
  font-weight: bold;
}
.digits {
  padding-bottom: 100px;
}
.section-title {
  margin: 0;
  width: 60%;
  padding: 0 20%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  width: 60%;
  padding: 0 20%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.section-title_theme_dark,
.section-subtitle_theme_dark {
  color: #fff;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1100px;
  margin: 0 auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.feynman {
  height: 790px;
  background-image: url("../images/feynman.png");
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 100px;
  position: relative;
  background-color: #f1f1f1;
}
.feynman__title {
  top: 0;
  width: 648px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
  width: 660px;
  height: 636px;
  background-size: contain;
  background-position: center;
  z-index: -1;
}
.footer {
  min-height: 350px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
}
.footer__columns {
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer__column {
  height: 250px;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.logo_place_footer {
  background-image: url("../images/logo_place_footer.png");
  display: flex;
  width: 183px;
  height: 35px;
}
.footer__author {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__list {
  padding: 0;
}
.footer__list-item {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link {
  text-decoration: none;
  color: #fff;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
}
